.container {
  margin: 10px;
}

.app-step-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  max-width: 400px;
}

.login-step-container {
  display: block;
  max-width: 600px;
}

.login-step-container ul li {
  margin-top: 10px;
}

.pair-step-container {
  max-width: 600px;
}

.ha-step-container {
  max-width: 600px;
}
