<div class="status-container">
  <div class="process-cards-container">
    <mat-card *ngFor="let service of services" class="process-card">
      <mat-card-header>
        <mat-card-title>{{ service.name }}</mat-card-title>
        <mat-chip-list>
          <mat-chip selected [color]="service.status !== 'RUNNING' ? 'warn' : 'primary'">{{ service.status }}</mat-chip>
        </mat-chip-list>
      </mat-card-header>
      <mat-card-content>
        {{ service.description }}
      </mat-card-content>
    </mat-card>
  </div>

  <div class="log-container">
    <mat-tab-group id="tab-group">
      <mat-tab *ngFor="let service of serviceNames" [label]="service">
        <div class="log-list">
          <div class="log-list-row" *ngFor="let l of logs[service]">{{ l }}</div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
