.status-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  height: 100%;
}

.process-card {
  max-width: 250px;
  margin: 10px;
}

.process-cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 0;
}

.log-container {
  margin: 10px;
  flex-grow: 1;
}

.log-list {
  margin: 0px;
  padding: 10px;
  background-color: #efefef;
  height: 100%;
  min-height: 100%;
}

#tab-group {
  height: 100%;
}

:host ::ng-deep .mat-tab-body-wrapper {
  flex-grow: 1;
}

.log-list-row {
  display: flex;
  margin-bottom: 3px;
  font-size: small;
}
