.configuration-container {
  display: flex;
  flex-direction: row;
  margin: 10pt;
}

.account-container {
  max-width: 800px;
}

.account-card {
  max-width: 400px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

:host {
  ::ng-deep .qrcode {
    display: flex;

    justify-content: center;
  }
}

.vspaced {
  margin-bottom: 10px;
}

.meross-link-disclaimer {
  font-size: small;
  color: #666666;
  background-color: beige;
  margin: 0px;
  padding-left: 2px;
  padding-right: 2px;
  margin-bottom: 5px;
}
