<div class="configuration-container">
  <div class="account-container">
    <mat-card class="account-card">
      <mat-card-subtitle>Device Pairing information </mat-card-subtitle>
      <mat-card-title>Account Configuration </mat-card-title>
      <mat-card-content>
        <div *ngIf="!reconfigureAccount">
          <p>Click the following button to edit the account configuration.</p>
          <button mat-raised-button color="primary" (click)="editConfiguration(true)">Edit configuration</button>
        </div>
        <form [formGroup]="accountForm" (ngSubmit)="onSubmit()" *ngIf="reconfigureAccount">
          <p>
            Please configure the account credentials to be used for device pairing. These are the credentials info to be
            used with the Meross Custom Pairer app to pair your devices with this borker.
          </p>
          <div class="form-container">
            <mat-form-field>
              <mat-label>Account Email</mat-label>
              <input type="text" formControlName="email" matInput placeholder="meross@local" required />
            </mat-form-field>
            <mat-form-field>
              <mat-label>Password</mat-label>
              <input
                matInput
                formControlName="password"
                [type]="hidePassword ? 'password' : 'text'"
                placeholder="Changeme!"
                [required]="configuredAccount === null"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="hidePassword = !hidePassword"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword"
                type="button"
              >
                <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
            </mat-form-field>
            <div [ngClass]="{ 'meross-link-disclaimer': accountForm.controls.enableMerossLink.value }">
              <mat-slide-toggle formControlName="enableMerossLink" class="vspaced" color="accent">
                Enable Meross Link
              </mat-slide-toggle>
              <p *ngIf="accountForm.controls.enableMerossLink.value">
                Meross Link enables the local broker to act as a relay against the Official cloud. To make this work,
                make sure you specify your personal <b>meross account credentials</b>.
              </p>
            </div>
            <button
              class="vspaced"
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="accountForm.pristine || !accountForm.valid"
            >
              Save
            </button>
            <button class="vspaced" mat-raised-button color="accent" type="button" (click)="editConfiguration(false)">
              Cancel
            </button>
          </div>
        </form>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <ngx-qrcode
        *ngIf="encodedAccountLoginData"
        [elementType]="elementType"
        [value]="encodedAccountLoginData"
        cssClass="qrcode"
        [errorCorrectionLevel]="correctionLevel"
      >
      </ngx-qrcode>
      <mat-card-footer>
        <mat-progress-bar mode="indeterminate" *ngIf="processing"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
