.container {
  margin: 1em;
}

.p5 {
  padding: 5px;
}

.spacer {
  flex-grow: 2;
}

.small {
  font-size: small;
}

.service-status-card {
  max-width: 300px;
}

.running-status {
  color: green;
}

.max-800 {
  max-width: 800px;
  text-align: start;
}

.max-800 table {
  width: 100%;
}

.logo {
  width: 150px;
  margin: 0 auto;
}

q {
  font-style: italic;
  quotes: "« " " »";
}

.grayout {
  color: #999;
}
