<div class="container">
  <div class="max-400">
    <mat-toolbar color="primary">
      <span>Paired devices</span>
      <span class="spacer"></span>
      <mat-slide-toggle class="small" (change)="onAutodeviceUpdate($event)">Auto update</mat-slide-toggle>
    </mat-toolbar>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
      <!-- Device Name Column -->
      <ng-container matColumnDef="deviceId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Device Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.deviceName }} <br />
          ({{ element.uuid }})
        </td>
      </ng-container>

      <ng-container matColumnDef="network">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Network Info</th>
        <td mat-cell *matCellDef="let element">{{ element.mac }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let element">{{ element.online_status }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching</td>
      </tr>

      <mat-paginator [pageSizeOptions]="[15, 30, 100]"></mat-paginator>
    </table>
  </div>
</div>
