.container {
  margin: 1em;
}

.p10 {
  padding: 10px;
}

.spacer {
  flex-grow: 2;
}

.small {
  font-size: small;
}

.service-status-card {
  max-width: 300px;
}

.running-status {
  color: green;
}

.max-800 {
  max-width: 800px;
  text-align: start;
}

.max-800 table {
  width: 100%;
}

.logo {
  width: 150px;
  margin: 0 auto;
}

q {
  font-style: italic;
  quotes: "« " " »";
}

.grayout {
  color: #999;
}

.first-conf-banner {
  background-color: #e9e9e9;
  box-shadow: 0px 0px 10px #999;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 10px;
}
